body{
    background-color: hsl(0, 0%, 86%);
   
}
.div-main{
    background-color: white;
    width: 45%;
    margin-left:25%;
    margin-top: 5%;
    
    border-radius: 15px;
    border-bottom-right-radius:160px;
    
}
.div-date{
    
    display: flex;
    margin-top: 16%;
    width: 100%;
}
.div-date p{
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(127, 125, 125);
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
.day{
    width: 20%;
    gap:-6px;
    margin-left: 4%;
   margin-right: 2px;
    margin-top: 5%;
}
.input-date{
    width: 60%;
    height: 2rem;
    border: 2px solid rgb(233, 233, 233);
    border-radius: 5px;
   margin-top: -5%;
   font-weight: bold;
   font-size: 20px;
   font-family: 'Poppins', sans-serif;
   cursor: pointer;
}
.line{
    border: 1px solid rgb(239, 239, 239);
    width:80%;
    margin-left: 4%;
}
.circle{
    background-color: rgb(128, 61, 253);
    width:60px;
    height: 60px;
    border-radius: 50px;
    margin-left: 85%;
    margin-top: -3%;
    cursor: pointer;
}
.arrow{
    margin-left: 5%;
    color: black;
}
.cal{
    width:80%;
    margin-top: -10%;
    margin-left: 4%;
    margin-bottom: 10px;
   
    
}
.cal p{
    font-size: 55px;
    font-style: italic;
   margin-left: 10%;
   font-family: 'Poppins', sans-serif;
   text-transform: lowercase;
   font-weight: 900;
  
}
p span{
    color:rgb(128, 61, 253);
    
}
.error{
    border-color: hsl(0, 100%, 67%);
}
.error-text{
    color:red
}

@media screen and (min-width: 280px) and (max-width:760px){
    .div-main{
        width: 95%;
        margin-left:2%;
        border-bottom-right-radius:100px;
    }
    .day{
        width: 26%; 
    }
    .cal p{
        font-size: 40px;
    }
    .cal{
        width:80%;
        margin-top: -10%;
        margin-left: 4%;
        margin-bottom: 10px;  
    }
    p span{
        color:rgb(128, 61, 253)
    }
    .circle{
        margin-left: 35%;
        margin-top: -8%;
    }
    .line{
        margin-top: 4%;
    }
}
@media screen and (min-width: 760px) and (max-width:1000px){
    .div-main{
        width: 95%;
        margin-left:2%;
    }
    
}